:root {
 --h-primary-color: #2c80ff;
 --h-info-color: #aba8a8;
 --h-danger-color: #ff533c;
 --h-warning-color: #ffaa3c;
 --h-success-color: #49fa0e;
 --h-pur-color: #e32bff;
 --h-girl-color: #fe56cb;
 --h-grey-color: #cccccc;
 --h-e2-color: #e2e2e2;

 --h-primary-color-hover: #2c80ffbb;
 --h-info-color-hover: #aba8a8bb;
 --h-danger-color-hover: #ff533cbb;
 --h-warning-color-hover: #ffaa3cbb;
 --h-success-color-hover: #49fa0ebb;
 --h-pur-color-hover: #e32bffbb;
 --h-girl-color-hover: #fe56cbbb;
 --h-grey-color-hover: #ccccccbb;

 --h-box-shadow-small: 0 0 5px rgba(0,0,0,0.2);
 --h-box-shadow-bigger: 0 0 10px rgba(0,0,0,0.2);

 --h-padding: 10px 20px;
 --h-border-radius: 12px;
 --h-border-bigger-radius: 12px;
 --h-form-input-min-width: 200px;
 --h-gutter-width: 12px;

 --h-fontsize-small: 12px;
 --h-fontsize-middle: 16px;
 --h-fontsize-large: 19px;
}

.h-btn {
 padding: var(--h-padding);
 border-radius: var(--h-border-radius);
}

.border-card {
box-sizing: border-box;
padding: 12px;
}

.border-card.bigger {
 border-radius: var(--h-border-bigger-radius);
 padding: 20px;
 
}

.border-card.primary {
 border: 2px solid var(--h-primary-color);
}

.border-card.e2 {
    border: 1px solid var(--h-e2-color);
}


.border-card.primary.shadow  {
    box-shadow: 0 0 5px var(--h-primary-color-hover);
}
.border-card.primary.bigger.shadow {
    box-shadow: 0 0 10px var(--h-primary-color-hover);
}

.border-card-header {
 display: flex;
 justify-content: space-between;
 border-bottom: 2px solid var(--h-primary-color);
 padding-bottom: 15px;
}

.border-card-footer {
    padding-top: 15px;
 border-top: 2px solid var(--h-primary-color);
}

.border-small {
    border-width: 1px;
}

.border-bigger {
    border-width: 2px;
}

.border-e2 {
    border-color: var(--h-e2-color);
}
.border-primary {
    border-color: var(--h-primary-color);
}