:root {
 --h-primary-color: #2c80ff;
 --h-info-color: #aba8a8;
 --h-danger-color: #ff533c;
 --h-important-color: #ffaa3c;
 --h-success-color: #49fa0e;
 --h-pur-color: #e32bff;
 --h-girl-color: #fe56cb;

 --h-primary-color-hover: #2c80ffbb;
 --h-info-color-hover: #aba8a8bb;
 --h-danger-color-hover: #ff533cbb;
 --h-important-color-hover: #ffaa3cbb;
 --h-success-color-hover: #49fa0ebb;
 --h-pur-color-hover: #e32bffbb;
 --h-girl-color-hover: #fe56cbbb;

 --h-box-shadow-small: 0 0 5px rgba(0,0,0,0.2);

 --h-padding: 10px 20px;
 --h-border-radius: 12px;
 --h-form-input-min-width: 200px;
 --h-gutter-width: 12px;

 --h-fontsize-small: 12px;
 --h-fontsize-middle: 16px;
 --h-fontsize-large: 19px;
}