@import "../vars.scss";

.h-btn {
	padding: var(--h-padding);
	border-radius: var(--h-border-radius);
}

.border-card {
	box-sizing: border-box;
	padding: 12px;
}

.border-card.bigger {
	border-radius: var(--h-border-bigger-radius);
	padding: 20px;

}

.border-card.primary {
	border: 2px solid var(--h-primary-color);
}

.border-card.e2 {
	border: 1px solid var(--h-e2-color);
}


.border-card.primary.shadow {
	box-shadow: 0 0 5px var(--h-primary-color-hover);
}

.border-card.primary.bigger.shadow {
	box-shadow: 0 0 10px var(--h-primary-color-hover);
}

.border-card-header {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid var(--h-primary-color);
	padding-bottom: 15px;
}

.border-card-footer {
	padding-top: 15px;
	border-top: 2px solid var(--h-primary-color);
}

.border-small {
	border-width: 1px;
}

.border-bigger {
	border-width: 2px;
}

.border-e2 {
	border-color: var(--h-e2-color);
}

.border-primary {
	border-color: var(--h-primary-color);
}